.header {
    width: calc(100% - (16px*2));
    display: flex;
    height: 52px;
    margin: 28px auto 0;
    justify-content: space-between;
    align-items: flex-end;
    
}

@media screen and (min-width:768px) {
    .header {
        width: calc(100% - (24px*2));
    }
    
}

@media screen and (min-width:1024px) {
    .header {
        width: calc(100% - (16px*2));
        margin-top: 16px;
}
}