.lead__title {
  width: 288px;
  height: 88px;
  font-size: 40px;
  margin: 48px auto 0;
  font-style: normal;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .lead__title {
    line-height: 1.04;
    width: 720px;
    height: 200px;
    font-size: 96px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin-top: 56px;
  }
}
