.lead__image {
  width: 100%;
  object-fit: contain;
  margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    width: calc(100% - (48px * 2));
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin-top: 64px;
    width: calc(100% - (148px * 2));
  }
}
