.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 8px 16px 0;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    margin-left: 148px;
  }
}
