.place {
  display: grid;
  margin: 50px 0 0;
}

.place:first-of-type {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: minmax(min-content, 0.98fr) minmax(
        min-content,
        1.02fr
      );
    column-gap: 28px;
    row-gap: 48px;
    margin-top: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    column-gap: 32px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    column-gap: 40px;
  }
}
