.place__website {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  align-self: end;
  margin: 32px 16px 0;
  align-items: flex-start;
}

@media screen and (min-width: 724px) {
  .place__website {
    margin: 0;
  }
}
