.video__content-subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.44;
  text-align: center;
  color: #ffffff;
  margin: 16px 0 0;
}

@media screen and (min-width: 768px) {
  .video__content-subtitle {
    font-size: 24px;
    margin: 31px 0 0 46px;
    max-width: 640px;
  }
}

@media screen and (min-width: 1024px) {
  .video__content-subtitle {
    font-size: 24px;
    margin: 0;
    margin-top: 48px;
    align-self: center;
  }
}
